
.navbar-dark {
  background-color: black;
}

footer {
  background-color: #152F4F;
  color: white;
  position: relative;
  height: auto;
  
}

body, html {
  height: 100%;
  }
  .bg {
  background-image: url("http://localhost:3000/images/trumusic.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.purple {
  background-color: blueviolet;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}














